<h2 class="text-center">Log in</h2>
<form #f="ngForm" (ngSubmit)="login(f)">
    <br/>
    <input ngModel name="mail" #mail="ngModel" type="email" class="form-control" required email placeholder="Email">
    <div class="alert alert-danger" *ngIf="mail.touched && mail.errors?.required">Email is required</div>
    <div class="alert alert-danger" *ngIf="mail.touched && mail.errors?.email">Incorrect email format</div>
    <br/>
    <input ngModel name="password" #password="ngModel" type="password" class="form-control" required minlength="6" placeholder="Password">
    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.required">Password is required</div>
    <div class="alert alert-danger" *ngIf="password.touched && password.errors?.minlength">The password length should be 6 characters or more</div>
    <br/>
    <button class="btn btn-info" [disabled]="f.invalid" (click)="login(f)">Login</button>
</form>
