<nav class="navbar navbar-expand-lg navbar-light" style="background-color: skyblue;">
    <a class="navbar-brand">Furnitures App</a>
    <button class="navbar-toggler" (click)="toggleNavBar()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="Active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products-admin" routerLinkActive="Active" *ngIf="isAdmin">Products change</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/orders-admin" routerLinkActive="Active" *ngIf="isAdmin">Orders change</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products" routerLinkActive="Active" *ngIf="isUser && !isAdmin">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/cart" routerLinkActive="Active" *ngIf="isUser && !isAdmin">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/orders" routerLinkActive="Active" *ngIf="isUser && !isAdmin">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="Active"  *ngIf="!isUser">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup" routerLinkActive="Active"  *ngIf="!isUser">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="text-overflow: clip;" routerLink="/logout" routerLinkActive="Active" (click)="logout()"  *ngIf="isUser">Logout</a>
            </li>
        </ul>
    </div>
</nav>